# Web framework
fastapi==0.116.1
uvicorn==0.35.0

# Gemini API (embeddings + LLM)
google-genai==1.16.0

# Vector database
pinecone==7.3.0

# Document parsing
PyMuPDF==1.26.3
python-docx==1.2.0
lxml==6.0.0

# Text chunking
langchain-text-splitters==0.3.9
langchain

# Utilities
python-dotenv==1.1.1
python-multipart
pydantic==2.11.7
requests==2.32.4
tqdm==4.67.1
orjson==3.11.1